<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Searched Books</title>
</head>
<body>
<h1>Searched Books</h1>
<a href="/">All books</a>
<table >
  <thead>
  <tr>
    <th>TITLE</th>
    <th>DESCRIPTION</th>
    <th>PRICE</th>
    <th>AUTHOR</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="book : ${searched_books}">
    <td th:text="${book.title}"></td>
    <td th:text="${book.description}"></td>
    <td th:text="${book.price}"></td>
    <td th:text="${book.author}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
